:root {
  --game-width: 900px;
  --block-width: 300px;
}

*{
    padding: 0;
    margin: 0;
}
#game{
	width:var(--game-width);
    height: 500px;
    border: 1px solid black;
    margin: 20px auto;
    box-sizing: border-box;
}
#character{
    width: var(--block-width);
    height: 100px;
    background-color: red;
    position: relative;
    top: 300px;
    left: 0px;
}
#white{
    top: 500px;
    z-index: 100;
    position: absolute;
    width: var(--game-width);
    height: 130px;
    background-color: white;
}
.blocks{
    width: var(--block-width);
    height: 100px;
    top: 500px;
    background-color: black;
    position: relative;
	display: inline-block;
    animation: slide 2s infinite linear;
}
@keyframes slide{
    0%{top:-100px};
    100%{top:500px};
}
#left, #right{
    width:50%;
    position: absolute;
    height: 500px;
}
#right{
    left: 50%;
}

.dashboard{
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
  padding: 10px;
  flex: 20%;
  justify-content: space-evenly;
  margin-top:50px;
}

#message{
	font-size: 20px;
}